.about-me {
    background-color: aqua;
    width: 100%;
    height: 100px;
}
h1 {
display: right;
    width: 300px;
}
.Work {
    background-color: aqua;
   height: 500px;
    width: 100%;
}

p {
    background-color: yellow;
    width: 300px;
text-align: end;
float: right;
}
.contact {
    background-color: aqua;
    width: 1000px;
    height:400px;
    
}
ul {
    display: inline;

    display: end;
    float: right;
    background-color: yellow;
}